
<!--<h2>Chat</h2>

<form>
  <input placeholder="Message..." ng-model="newMessage">
  <button type="submit" ng-click="addMessage(newMessage);newMessage = null;">send</button>
</form>

<ul id="messages" ng-show="messages.length">
  <li ng-repeat="message in messages ">{{message.text}}</li>
</ul>

<p class="alert alert-danger" ng-show="err">{{err}}</p>
-->

<div data-ng-init="init()">

<table id='sp-table' style="border: solid 1px black;cellspacing="0" cellpadding="1"">
  
    <!--<td>{{ x.name }}</td>
    <td>{{ x.country }}</td>
  -->
</table>

</div>